@model Ispit_asp.ViewModels.NewReservationViewModel
@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservation:</h2>

@using (Html.BeginForm("Reserve", "Reservation"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Reservation.CustomerId)
        @Html.TextBoxFor(m => m.Reservation.CustomerId)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Reservation.CourtId)
        @Html.TextBoxFor(m => m.Reservation.CourtId)
    </div>


    

    @Html.AntiForgeryToken()
    <button type="submit">Save</button>
}

