@model Ispit_asp.Models.Customer
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@{
    ViewBag.Title = "Customers";


}

<h2>Edit Customer:</h2>

@using (Html.BeginForm("Edit", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerName)
        @Html.TextBoxFor(m => m.CustomerName)
        @Html.ValidationMessageFor(m => m.CustomerName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
    </div>

    <div class="checkbox">
        <label> @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter) Subscribed to Newsletter? </label>
    </div>

    @Html.HiddenFor(m => m.CustomerId)
    @Html.AntiForgeryToken()
    <button type="submit">Save</button>
}

@using (Html.BeginForm("Delete", "Customer"))
{
    @Html.HiddenFor(m => m.CustomerId)
    <p>
        @Html.AntiForgeryToken()
        <button type="submit">Delete</button>
    </p>
}

